p {
    /* Content = Width and Heigh */
    width: 200px;
    width: 50%;		/* 50 percent of parent */

    /* Borders */
    border: 2px solid blue;

    /* Padding - between border and content */
    padding: 10px;
    padding-left: 40px;

    /* Margin - between border and everything else */
    /* margin: 20px 40px 500px 100px; */
    margin 0 auto 0 auto;
}
