img {
	width: 30%;			/* 3 per line */
	float: left;		/* used to create grid */
	margin: 1.66%;		/* 10% / 6 margins */
}

p {
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	width: 30%;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;
}