<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Home Page</h1> 
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores corporis a recusandae quis ab quo nemo fuga obcaecati! Eaque, tenetur provident temporibus est odit a inventore vel iusto eius impedit.</p>  
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores corporis a recusandae quis ab quo nemo fuga obcaecati! Eaque, tenetur provident temporibus est odit a inventore vel iusto eius impedit.</p>  
</body>
</html>
