<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%='hello'.toUpperCase() %></h1>
    <p>
      <%= 4 + 5 + 6 %> Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Qui, error hic amet praesentium vero sequi quaerat, vitae fugit unde eum,
      eaque eos quos facere nostrum! Possimus asperiores pariatur ratione
      expedita?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem animi,
      dolores cupiditate qui doloremque quia inventore voluptates rem accusamus
      voluptatibus? Adipisci, incidunt possimus eos libero repellendus
      reiciendis blanditiis vel a?
    </p>
  </body>
</html>
